.mat-column-id {
  flex: 0 0 1%;
  justify-content: center;
}

.mat-column-latitude {
  flex: 0 0 10%;
  justify-content: center;
}

.mat-column-longitude {
  flex: 0 0 10%;
  justify-content: center;
}

.mat-column-bssid {
  flex: 0 0 15%;
  justify-content: center;
}

.mat-column-essid {
  flex: 0 0 15%;
  overflow-x: hidden;
  white-space: nowrap;
}

.mat-column-psk {
  flex: 0 0 18%;
  overflow-x: hidden;
  white-space: nowrap;
}

.mat-column-pmkid {
  flex: 0 0 20%;
  overflow-x: hidden;
  white-space: nowrap;
}

.mat-column-processed {
  flex: 0 0 4%;
  justify-content: center;
}

.mat-column-delete {
  flex: 0 0 2%;
  justify-content: center;
  padding-left: 2.5%;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.mat-mdc-cell {
  align-items: stretch;
}

span {
  align-self: center;
}

.mat-mdc-table {
  max-height: 80%;
  min-width: unset;
  margin: 1% 3% 1% 3%;
  border-radius: 15px;
  border: 15px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 30px;
  overflow-x: hidden;
  background-color: unset;
}

.mat-mdc-header-row {
  color: unset;
}

.mat-mdc-row {
  color: unset;
}
